if type lorri &>/dev/null; then
    # https://github.com/target/lorri
    eval "$(lorri direnv)"
else
    # fall back to using direnv's builtin nix support
    use nix
fi

VIRTUAL_ENV="$PWD/.venv"
if [ ! -e .venv ]
then
   poetry env use python3.8
   poetry install -E docs
fi
PATH_add "$VIRTUAL_ENV/bin"

export VIRTUAL_ENV
