if type lorri &>/dev/null; then
    # https://github.com/target/lorri
    eval "$(lorri direnv)"
else
    # fall back to using direnv's builtin nix support
    use nix
fi

VIRTUAL_ENV36="$PWD/venv-3.6"
if [ ! -e venv-3.6 ]
then
   python3.6 -m venv "${VIRTUAL_ENV36}"
fi
PATH_add "$VIRTUAL_ENV36/bin"

VIRTUAL_ENV37="$PWD/venv-3.7"
if [ ! -e venv-3.7 ]
then
   python3.7 -m venv "${VIRTUAL_ENV37}"
fi
PATH_add "$VIRTUAL_ENV37/bin"

VIRTUAL_ENV38="$PWD/venv-3.8"
if [ ! -e venv-3.8 ]
then
   python3.8 -m venv "${VIRTUAL_ENV38}"
fi
PATH_add "$VIRTUAL_ENV38/bin"

VIRTUAL_ENV=$VIRTUAL_ENV38
export VIRTUAL_ENV
