*.pyc
.direnv/
/build/
/dist/
/*.eggs/
/src/*.egg-info/
/pip-wheel-metadata/
/venv*/
/.idea/
/.pytest_cache/
/.mypy_cache/
/.coverage
/.ropeproject/
/Session.vim
/.version
/docs/_build/
/docs/auto_examples/
/docs/api_reference/
.vscode/
datasets/
site/
.ipynb_checkpoints
anlearn.egg-info
